{% extends 'menu/base.html' %}

{% block title %}Lunch{% endblock %}

{% block content %}
<div class="break_fast">
    
    <div class="break"></div>

</div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2 class="title">Our Menu for Lunch</h2>
            <div class="row">
                {% for  lunch in lunchs %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <img class="card-img-top fade-in" src="{{ lunch.fimage }}" alt="{{ lunch.name }}"  style="width:250px; height: auto;">
                        <div class="card-body fade-in" style="width: 400px; height: auto;" >
                            <h4 class="card-title" >{{ lunch.name }}</h4>
                            <p class="card-text">{{ lunch.description }}</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" checked>
                                <label class="form-check-label">{{ lunch.priceM }} $</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio">
                                <label class="form-check-label">{{ lunch.priceL }} $</label>
                            </div>
                            <button class="btn btn-warning mt-3">Add to Cart</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
