{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<main>

    <div class="container-wrapper">
        <div class="hero-img">

        </div>
        <!-- <div class="content-wrapper1 main-column"> -->
        <div class="content">
            <!-- Title and about us sections -->
            <!-- <h1 class="text-center  green-heading cursive-heading "> -->
            <h1>*Ndewo*Wilkommen*Bonjour*Welcome*</h1>
            <div>
                <p>
                    Here @ <span class="green-heading cursive-heading">Afrik Kitchen</span>, we speak the language of
                    food. All our food ingredients are
                    orgnic, that I can assure you.They are organically made and  prepard with touch of professionalism.
                    If your are seeking where to relax after hectic work of the day, or you want to have business or
                    familiy lunch? or where you would like a home made dinner with friends, or you are Dating out. Here
                    @Afrik Kitchen is the right restaurant for You as well as  on  every occasion.
                </p>
            </div>
        </div>
    </div>
    <!-- Our Story Section -->
    <section class="section_heading">
        <div class="our_story">
            <div class="story_image">
                <img src="{% static 'images/our_story_afrik.jpg' %}" alt="Our Story">
            </div>

            <div class="story_text">
                <h1 class="">Our Story</h1>
                <div>
                    <p>Afrik Kitchen is one of best restaurants in Bremen City Germany, Europ
                        that offer African Dishes, Event booking and organisation.
                    </p>
                    <p> Our staff are polite ,friendly and equally happy taking your Order and
                        serving You.</p>
                    <p> We partner with of Natural fruit Juice and Water industry Just to serve You better
                        Explore the their website;
                        <a class="green-heading" href="https://www.kaylyjuice.co.za/" target="_blank" rel="noopener"
                            aria-label="Visit our twitter page (opens in a new tab)">
                            <i class="fa-solid fa-martini-glass-citrus ms-3"></i> </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Menu Section -->
    <section class="menu" id="menu">
        <!-- <div class="container-wrapper"> -->
        <div class="menu_heading">
            <h1>Menu</h1>
        </div>
        <div class="menu_wrapper">
            <div class="food">
                <h3>Breakfast</h3>
                <img src="{% static 'images/break_food.jpg' %}" alt="food_image">
                <p>A typical healthy African Breakfast. It contains all essential nutrients
                    (protein, fat and oil, fish, etc.) and there is also one made for vegetarians.
                    We prepare it the way you will like it.</p>
                </p>
                <a href="{% url 'food:food' %}" class="">Click here for
                    more</a>
            </div>
            <div class="food">
                <h3>Lunch</h3>
                <img src="{% static 'images/lunch_food.jpg' %}" alt="food_image">
                <p>A healthy and mouth-watering fulfilling meal with the right atmosphere. This can
                    keep you going for the rest of the day.</p>
                <a href="{% url 'food:food' %}" class="">Click here for
                    more</a>
            </div>
            <div class="food">
                <h3>Dinner</h3>
                <img src="{% static 'images/food_dinner.jpg' %}" alt="food_image">
                <p>A delicious and light dinner with a soothing ambiance and background music. This
                    contains meat, fish, vegetables, onions, and oil.
                </p>
                <a href="{% url 'food:food' %}" class="">Click here for
                    more</a>
            </div>

            <div class="food">
                <h3>Sides</h3>
                <img src="{% static 'images/food_side.jpg' %}" alt="food_image">
                <p>A delicious side dish that can complement your meal while we prepare your order.
                </p>
                <a href="{% url 'food:food' %}" class="">Click here for more</a>
            </div>
        </div>

        <!-- Event Section -->
        <section class="section_heading">
            <div>
                <h1>Events/Table Bookings</h1>
            </div>

            <div class="our_event">

                <div class="event">
                    <img src="{% static 'images/event_afrik.jpg' %}" alt="Our event pic">
                    <h3 class="">Contact Us for Your Events</h3>
                    <p>@ Afrik Kitchen, we are at best at organising events such as weddings, Birthdays,
                        party,
                        house warming party, churching, graduations party, compaies and school parties.
                        You can book
                        today or make enquiry here</p>
                    <a href="{% url 'contact' %}" class="">contact Us</a>

                </div>

                <div class="event">
                    <img src="{% static 'images/event.jpg' %}" alt="Our Story">
                    <h3 class="green-heading cursive-heading">Book Your Table(s) </h3>
                    <p>You can book tables for your dinner, Company's meeting, Dating out,
                        familiy's meeting , lunck or dinner as case may be here.</p>
                    <a href="{% url 'booking:TableListView' %}" class="">Book Table</a>

                </div>


            </div>
        </section>

</main>
<footer class="container-wrapper">
    <div>
        <h2>Find Us</h2>
    </div>
    <div class="footer">
        <div>
            <div class="locate">
                <h4>Restaurant Location</h4>
            </div>
            <div>
                <img src="{% static 'images/map_location.jpg' %}" alt="Restaurant Location">
            </div>
        </div>


        <div class="hours"> 
            <h4>Our Office Hours</h4>
            <ul>
                <li>Monday to Friday: 7.00am - 10.45pm</li>
                <li>Saturdays: 9.45am - 1.30pm</li>
                <li>Holidays: 10.00am - 4.00pm</li>
                <li>Sundays: Closed</li>
            </ul>
            <p>14 Gronland Street, Bremen<br>Bremen, State Germany<br>Phone: <a href="tel:+1234567890">123-456-7890</a>
            </p>
        </div>
    </div>
</footer>
{% endblock %}