
{% load static %}
 <!--form for table Booking -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/table_detail.css' %}">
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content">

    <!-- Table Details -->
    <div class="table">

        <!-- Div 1: Back to BookingHome -->
        <div class="home">
            <a href="{% url 'booking:TableListView' %}" class="white_color"><i class="fas fa-arrow-alt-circle-left "></i> Booking Home</a>
        </div>

        <!-- Div 2: Tablenformation -->
        <div class="table-info">
            <h1>{{table_capacity}}</h1>
            <h3 class="white_color text-center">A high quality and comfortable table for every occassion </h3>
        </div>

        <!-- Div 3: Table Booking Form -->
        <form id="booking-form" action="" method="POST">
            {% csrf_token %}

            <!-- Input Div -->
            <div class="input-div">
                <label for="id_reservation_date">Reservation Date:</label>
                {{ form.reservation_date }}
            </div>

            <div class="input-div">
                <label for="id_reservation_date">Reservation Time:</label>
                {{ form.reservation_time }}
            </div>

            <!-- Input Div -->
            <div class="input-div">
                <button type="submit">Book the Table</button>
            </div>
        </form>

    </div> 

</div> <!-- END Main Content Div -->
{% endblock %}
