{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/table_list.css' %}">
{% endblock %}

{% block content %}
<div class="container-wrapper">
  <div class="table-img">

  </div>
  <div class="content-wrapper main-column">
    <div class="text-area content">
      <!-- Title and about us sections -->
      <h1 class="text-center green-heading  cursive-heading "><span>Book Your Table Here</span></h1>
      <h3 class="text-center green-heading  ">
        Make your choice
      </h3>
      <div>
        <div class="container-wrapper1">
          <!-- Main Content -->
          <div id="content">
            {% for table_capacity, table_url in table_list %}
            <div class="table">
              <a href="{{table_url}}">
                <img src="https://res.cloudinary.com/daaluzzqp/image/upload/v1688646705/book_bgr_xjsh5m.jpg" />
                <h2 class="green-heading">{{table_capacity}} Table capacity</h2>
                <p class="green-heading cursive-heading ">
                  Very Comfortable Table. This can be in Garden, near the Window, or as You will like it.
                </p>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}