{% extends "base.html" %}

{% load static %}  <!-- Add this line to load the static template tag -->

<!-- Main StyleSheet -->
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% block extra_css %}{% endblock %}

{% block content %}
    <div class="form-section">
        <h1 class="green-heading cursive-heading text-center">Create Menu</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Create Menu</button>
        </form>
    </div>
{% endblock %}

