{% extends "base.html" %}

{% load static %}  <!-- Add this line to load the static template tag -->


{% block content %}


<h1 class="text-center  green-heading cursive-heading">Manage Menu</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>

    {% for menuitem in menuitems %}
    <tr>

        <td>{{ menuitem.name }}</td>
        <td>{{ menuitem.type }}</td>
        <td>
            <a href="{% url 'food:update_menuitem' menuitem.pk %}"  class="btn">update</a>
            <a href="{% url 'food:delete_menuitem' menuitem.pk %}" class=" btn-warning" >Delete</a>
        </td>
    </tr>
    {% empty %}
    <li>No menu items found.</li>
    {% endfor %}
    </ul>
{% endblock %}
