
    /* styles for menu table */
    .menu-item {
        display: flex;
        align-items: center;
    }

    .menu-item img {
        max-width: 100%;
        height: auto;
        margin-right: 20px;
    }

    .menu-details p {
        margin-bottom: 10px;
    }
    .contact-section {
        margin-top: 20px;
        text-align: center;
    }

    /* Add media queries for responsive layout */

    @media only screen and (max-width: 480px) {
        .menu-item {
            flex-direction: column;
        }

        .menu-item img {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    /* style for updating Menu*/

    .form-section {
        margin: 20px auto;
        max-width: 900px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .form-section button[type="submit"] {
        padding: 10px 20px;
        /* background-color: green; */
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .form-section button[type="submit"]:hover {
         background-color: green; 
    }

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 480px) {
        .form-section {
            padding: 10px;
        }

        .form-section h1 {
            font-size: 20px;
        }

        .form-section button[type="submit"] {
            padding: 8px 16px;
            font-size: 14px;
        }
    }