/* Root CSS */

*{
    padding:10px;
    margin:0;
    box-sizing: border-box;
    text-decoration:  none;
}
body{
    background-color: rgb(46, 47, 48);
    color: rgb(14, 153, 60);
    font-family: sans-serif;
    line-height: 1.25;
    height: 10vh;
}

Main Divs 
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: left;
}

.image{
    flex: 0.3;
}

.table{
    flex:0.5;
    margin: 2rem;
    display:flex;
    text-align: left;
    align-items: start;  
    flex-direction: column;
}




/* Inside Sub Divs

.image img{
    flex:1;
    max-height: 99.2vh;
}

i{
    color:#ebf0ee;
    font-size: 2rem;
}

.white_color {
  color: white;
} */


/* Form's CSS */

.input-div{
    flex: 1 1 auto;
    margin:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, button{
    flex:1;
    width:300px;
    border-radius: 0.5rem;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #350303;
}


  

  /* CSS for table_detail.html */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  width: 500px; 
  padding: 20px;
  background-color: #383636;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0, 128, 43);
}


.home a {
  display: inline-block;
  color:  rgba(237, 240, 237, 0.829);
  text-decoration: none;
}

.table-info {
  margin-top: 20px;
}

.table-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.table-info p {
  font-size: 14px;
}

#booking-form {
  margin-top: 20px;
}

.input-div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  width: 10%; */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: rgba(34, 180, 53, 0.2);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}


  /* Media Queries for Mobile */
  @media only screen and (max-width: 768px) {
    .table {
        max-width: 90%;
    }
}

/* Media Queries for Smaller Mobile */
@media only screen and (max-width: 480px) {
    .table {
        padding: 10px;
    }
}