
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Edit Booking</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
    <script>
      $(function() {
        $("#id_reservation_date").datepicker();
      });
    </script>
    <button type="submit">Save Changes</button>
  </form>
{% endblock %}
