<footer class="social">
    <div>
        <h1>Follow us:</h1>
    </div>
    <div>
        <!-- Facebook link opening in a new tab -->
        <a href="https://www.linkedin.com/in/adimora-uju-louisa-48b821179/" target="_blank" rel="noopener" aria-label="Visit our LinkedIn page (opens in a new tab)">
            <i class="fab fa-linkedin-in"></i> LinkedIn
        </a>
        <!-- Twitter link opening in a new tab -->
        <a href="https://twitter.com/TeckData" target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in a new tab)">
            <i class="fab fa-twitter-square"></i> Twitter
        </a>
    </div>
</footer>
