{% extends 'menu/base.html' %}

{% block title %}Dinner{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-8">
            <h2 class="title">Our Menu for Dinner</h2>
            <div class="row">
                {% for dinner in dinners %}
                <div class="col-md-4 p-4 justify-content-center">
                    <img class="img" src="{{ dinner.fimage }}" alt="{{ dinner.name }}">
                    <h4 class="pt-3">{{ dinner.name }}</h4>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" checked>
                            {{ dinner.priceM }} $
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio">
                            {{ dinner.priceL }} $
                        </label>
                    </div>
                    <div>
                        <button class="btn btn-warning mt-3">Add to Cart</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}
