{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Detail</title>
    <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>

    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'menu/css/table_detail.css' %}">

</head>

<body>

    <!-- Main Content -->
    <div class="content">

        <!-- Room Details -->
        <div class="room">

            <!-- Div 1: Back to Home -->
            <div class="home">
                <a href="{% url 'booking:TableListView' %}"><i class="fas fa-arrow-alt-circle-left"></i> Home</a>
            </div>

            <!-- Div 2: Room Information -->
            <div class="room-info">
                <h1>{{table_capacity}}</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id optio rem saepe culpa architecto tempora
                    numquam debitis reiciendis! Quaerat laudantium consequuntur doloribus quod placeat consectetur
                    veniam,
                    rerum repellendus magnam labore. </p>
            </div>

            <!-- Div 3: Table Booking Form -->
            <form id="booking-form" action="" method="POST">
                {% csrf_token %}

                <!-- Input Div -->
                <div class="input-div">
                    <label for="id_reservation_date">Reservation Date:</label>
                    {{ form.reservation_date }}
                </div>

                <div class="input-div">
                    <label for="id_reservation_date">Reservation Time:</label>
                    {{ form.reservation_time }}
                </div>

                <!-- Input Div -->
                <div class="input-div">
                    <button type="submit">Book the Table</button>
                </div>
            </form>

        </div> <!-- END Room Div -->

    </div> <!-- END Main Content Div -->

</body>

</html>
